<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsules - Space X Replica</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../js/capsules.js" defer></script>
</head>
<body>
    <header class="header">

    </header>
    <main class="main">
        <section class="main__description__left">
            <h1>"reuse_count": 0,</h1>
<h1>"water_landings": 1,</h1>
<h1>"land_landings": 0,</h1>
        </section>
        <section class="main__overview">
            <h1>"last_update": "Hanging in atrium at SpaceX HQ in Hawthorne ",</h1>
            <h1>"type": "Dragon 1.0",</h1>
        </section>
        <section class="main__description__right">
            <h1>"serial": "C101",</h1>
            <h1>"status": "retired",</h1>
        </section>
        <footer class="footer">
            <ul>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/rocket.svg" alt="">
                        <span>Rockets</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/person.svg" alt="">
                        <span>Capsules</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/comms.svg" alt="">
                        <span>Comms</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/prop.svg" alt="">
                        <span>Prop</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/mech.svg" alt="">
                        <span>Mech</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/power.svg" alt="">
                        <span>Power</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/avionics.svg" alt="">
                        <span>Avionics</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/GNC.svg" alt="">
                        <span>GNC</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../storage/img/icons/thermal.svg" alt="">
                        <span>Thermal</span>
                    </a>
                </li>
            </ul>
        </footer>
    </main>
</body>
</html>