<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Info - Space X Replica</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../js/company-info.js" defer></script>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <section class="main__description__left">
            <h2>"links"</h2>
            <ul>
                <li>"website": "https://www.spacex.com/",</li>
                <li>"flickr": "https://www.flickr.com/photos/spacex/",</li>
                <li>"twitter": "https://twitter.com/SpaceX",</li>
                <li>"elon_twitter": "https://twitter.com/elonmusk"</li>
            </ul>
        </section>
        <section class="main__overview">
            <h2>
                headquarters
            </h2>
            <ul>
                <li>"address": "Rocket Road",</li>
                <li>"city": "Hawthorne",</li>
                <li>"state": "California"</li>
            </ul>
        </section>
        <section class="main__description__right">
            <ul>

                <li>"name": "SpaceX",</li>
                <li>"founder": "Elon Musk",</li>
                <li>"founded": 2002,</li>
                <li>"employees": 9500,</li>
                <li>"vehicles": 4,</li>
                <li>"launch_sites": 3,</li>
                <li>"test_sites": 3,</li>
                <li>"ceo": "Elon Musk",</li>
                <li>"cto": "Elon Musk",</li>
                <li>"coo": "Gwynne Shotwell",</li>
                <li>"cto_propulsion": "Tom Mueller",</li>
                <li>"valuation": 74000000000,</li>
                <li>"summary": "SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.",</li>
            </ul>
        </section>
        <footer class="footer">
            <ul>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/rocket.svg" alt="">
                        <span>Rockets</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/person.svg" alt="">
                        <span>Capsules</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/comms.svg" alt="">
                        <span>Comms</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/prop.svg" alt="">
                        <span>Prop</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/mech.svg" alt="">
                        <span>Mech</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/power.svg" alt="">
                        <span>Power</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/avionics.svg" alt="">
                        <span>Avionics</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/GNC.svg" alt="">
                        <span>GNC</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/thermal.svg" alt="">
                        <span>Thermal</span>
                    </a>
                </li>
            </ul>
        </footer>
    </main>
</body>

</html>