<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starlink - Space X Replica</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../js/starlink.js" defer></script>
</head>
<body>
    <header class="header">

    </header>
    <main class="main">
        <section class="main__description__left">

        </section>
        <section class="main__overview">
            <img src="https://imgur.com/DaCfMsj.jpg" alt="" referrerpolicy="no-referrer">
            <img src="https://imgur.com/azYafd8.jpg" alt="" referrerpolicy="no-referrer">
        </section>
        <section class="main__description__right">

        </section>
        <footer class="footer">
            <ul>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/rocket.svg" alt="">
                        <span>Rockets</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/person.svg" alt="">
                        <span>Capsules</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/comms.svg" alt="">
                        <span>Comms</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/prop.svg" alt="">
                        <span>Prop</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/mech.svg" alt="">
                        <span>Mech</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/power.svg" alt="">
                        <span>Power</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/avionics.svg" alt="">
                        <span>Avionics</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/GNC.svg" alt="">
                        <span>GNC</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="storage/img/icons/thermal.svg" alt="">
                        <span>Thermal</span>
                    </a>
                </li>
            </ul>
        </footer>
    </main>
</body>
</html>